$backcolor1: #E6E8E6;
$backcolor2: #CED0CE;
$backcolor3: #9FB8AD;
$backcolor4: #475841;
$textcolor1: #3F403F;
$headingcolor1: #475841;
$purple1: #5a547b;
$purple2: #e0ddf1;
$green1: #c5d3c0;

// $backcolor4: #3F403F;